header {
  height: 100vh;
}
nav {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 44px;
}
.apple-icon {
  width: 13px;
  height: 16px;
}
.deed-tses {
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.haih-icon {
  width: 13px;
  height: 13px;
}
.store-icon {
  width: 13px;
  height: 15px;
}
.tailbar-heseg {
  font-size: 14px;
  height: 60px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  box-shadow: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}
.rainbow {
  width: 100%;
  height: 75px;
  background: url("./dolgoin.png");
  background-position: center;
  background-size: cover;
}
.deed-tailbar {
  display: flex;
}
.frame1 {
  position: relative;
  left: 70px;
}
.store-heseg {
  display: flex;
  gap: 32px;
  padding-left: 20px;
  padding-top: 20px;
}
.store-title {
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}
.gift-title {
  font-size: 44px;
  font-weight: 700;
  font-style: bold;
  color: rgba(110, 110, 115, 1);
}
.branduud {
  display: flex;
  gap: 60px;
  padding-top: 60px;
}
.apple-pic {
  width: 120%;
  height: 78%;
  padding-bottom: 10px;
}
.titleluud {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.jijig-box {
  height: 100px;
  width: 226px;
  display: flex;
  justify-content: right;
  gap: 16px;
}
.woman {
  width: 35px;
  height: 35px;
  background: url("./woman.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: baseline;
}
.holbogdoh-title {
  font-size: 14px;
  color: black;
}
.holbogdoh-title2 {
  font-size: 14px;
  color: blue;
}
strong {
  font-size: 24px;
  font-weight: 700;
}
.scrolltoi-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 130px;
}
.the-latest {
  display: flex;
  gap: 32px;
}
.latest-title {
  color: gray;
  font-size: 30px;
}
strong{
  font-size: 30px;
}
  .scroll-brand{
    display: flex;
  overflow-x: scroll;
  align-items: center;
  border-radius: 8px;
  scroll-behavior: smooth;
  gap: 15px;
}
.iph16 {
  background: url("iph16pro.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
}
.person{
  display: flex;
  gap: 25px;
  padding-top: 60px;
  padding-bottom: 10px;
}
.apple-title {
  font-size: 12px;
  color: rgba(182, 68, 0, 1);
  font-style: bold;
  font-weight: 700;
}
.iph16pro {
  color: black;
  font-size: 26px;
  font-weight: 700;
  font-style: bold;
}
.une {
  font-size: 18px;
  font-weight: 400;
}
.watch {
  background: url("./watch16.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
}
.ipad {
  background: url("./ipad.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
}
.mac {
  background: url("./mac\ pro.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
}
.person {
  display: flex;
}
.person-pic {
  background: url("./person.jpg");
  background-position: center;
  background-size: cover;
  width: 191px;
  height: 34px;
}
.scroll-brand1{
  display: flex;
  gap: 20px;
}
.backround{
background: url("./airpod.jpg");
background-position: center;
background-size: cover;
width: 400px;
height: 500px;
display: flex;
}
.backround-mini{
  width: 313px;
height: 500px;
border-radius: 18px;
background-color:#fff;
display: flex;
flex-direction: column;
box-shadow: 2px 4px 12px 0px #00000014;
}
.model{
  background-position: center;
  background-size: cover;
  width: 230px;
height: 230px;
position: relative;
top: 71px;
left: 10px;
}

.model-dood{
  position: relative;
  top: 159px;
  left: 28px;
  width: 257px;
height: 109px;
border-radius: 2px solid black;
}
.make{
  display: flex;
  font-size: 26px;
  font-weight: 700;
  color: black;
  position: relative;
  top: 53px;
  left: 30px;
  width: 197px;
height: 66px;
flex-flow: wrap;
}